<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Veículos</title>
</head>
<body>
    <div class="container">
        <h2>Cadastro de Veículos</h2>
        <label for="nome">Nome</label>
        <input type="text">
        <button onclick="alert('Cadastro Realizado')"></button>
        
    </div>
</body>
</html>